<div class="page-container">

    <header class="header-bar">
        <button class="back-btn">
            <img src="public/images/your-back-icon.png" alt="">
        </button>

        <h1 class="header-title">Titre</h1>

        <div class="header-spacer"></div>
    </header>



    <div class="form-card">

        <div class="form-row">
            <label>Label 1</label>
            <input type="text" />
        </div>

        <div class="form-row">
            <label>Label 2</label>
            <input type="text" />
        </div>

        <div class="form-row">
            <label>Label 3</label>
            <input type="text" />
        </div>

        <div class="form-row">
            <label>Label 4</label>
            <input type="text" />
        </div>

    </div>

</div>